name: Deploy Vue App

on:
  push:
    branches:
      - main
    paths:
      - 'A5/experio/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: A5/experio/package-lock.json

      - name: Install and Build
        run: |
          cd A5/experio
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: A5/experio/dist # The folder the action should push
          branch: gh-pages # The branch the action will create/update